# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/
!**/migrations/__init__.py

# Environment variables
.env
.env.*

# Coverage and testing
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/

# Build
build/
dist/
*.egg-info/
*.egg
MANIFEST
